.contactsWrapper {
  display: flex;
  padding: 4px;
  width: 300px;
  height: 100%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 4px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.name {
  margin-bottom: auto;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  margin-left: auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 4px;
  background-color: rgb(211, 211, 211);
  color: inherit;
  transition: background-color 250ms;
}

.btn:first-child:hover {
  background-color: #08d308;
}

.btn:last-child:hover {
  background-color: #f66d6d;
}
