.form {
  max-width: 300px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 12px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border: 1.5px solid black;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: black;
  /* border: 0.5px solid black; */
  border-radius: 50%;
  padding: 2px;
  transition: font-size 250ms, font-weight 250ms, color 250ms, border 250ms;
}

.closeBtn:hover {
  font-size: 18px;
  font-weight: 700;
  color: red;
  border: 1px solid red;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  font-size: 12px;
  align-items: flex-start;
}

.input {
  font-size: 16px;
  font-weight: 500;
  width: 100%;

  background-color: inherit;
  color: inherit;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.288);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: black;
  font-weight: 500;
  background-color: rgb(211, 211, 211);
  border-radius: 6px;
  padding: 6px 12px;
  transition: background-color 250ms;
}

.btn:hover {
  background-color: #9a9a9a;
}

::placeholder {
  font-size: 14px;
  font-weight: 400;
}
